.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    padding: 5px;
    margin: auto;
    background-color: antiquewhite;
}
.container  img{
    width: 350px;
    height: 280px;
    border-radius: 10px;
}
body{
    background-color: aliceblue;
}
p{
    font-size: 20px;
}